<div class="background-project mb-5">
    <div data-aos="fade-up" style="background-color: rgba(189, 185, 185, 0.76); left: 5%;"
        class="position-absolute d-flex flex-column p-3 rounded w-50 align-items-center">
        <h1 class="tittle-responsive text-center">Faça orçamento do seu próprio modelo</h1>
        <span class="tittle-responsive text-center" style="color: brown;">R$00,00 GRATIS</span>
        <span class="text-responsive text-center mb-3">Envie seu projeto e deixe que nós cuidamos do resto para
            você</span>
        <button class="btn btn-group btn-outline-secondary text-responsive text-center">Realizar Orçamento</button>
    </div>
</div>