<footer style="background-color: rgb(50, 51, 52); overflow: hidden;">
    <div class="position-relative row pt-4">
        <div class="col-md-3 col-sm-12 mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h1
                    class="logo-font tittle-responsive text-center text-white align-items-center justify-content-center">
                    Mercado
                    Impresso</h1>
                <span class="text-center text-light text-responsive text-font">
                    Sua jornada criativa começa aqui, Impressão 3D sem complicações para você </span>
                    <div class="row mt-3">
                        <div class="col-3"><i class="pi pi-facebook text-white"></i></div>
                        <div class="col-3"><i class="pi pi-twitter text-white"></i></div>
                        <div class="col-3"><i class="pi pi-instagram text-white"></i></div>
                        <div class="col-3"><i class="pi pi-youtube text-white"></i></div>
                    </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <ul class="text-white list-unstyled text-center text-responsive ethos_logo_letter"
                    style="list-style: none;">
                    <li class="m-2" style="cursor: pointer;">
                        <strong>Loja</strong>
                    </li>
                    <li class="m-2 text-start" style="cursor: pointer;">
                        Seu Carrinho</li>
                    <li class="m-2 text-start" style="cursor: pointer;">
                        Promoções</li>
                    <li class="m-2 text-start" style="cursor: pointer;">
                        Mais comprados</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <ul class="text-white list-unstyled text-center text-responsive ethos_logo_letter"
                    style="list-style: none;">
                    <li class="m-2" style="cursor: pointer;">
                        <strong>Mais Links</strong>
                    </li>
                    <li class="m-2 text-start" *ngFor="let item of topics" routerLink="/{{item.router}}" style="cursor: pointer;">
                        {{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-6">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <ul class="text-white text-responsive ethos_logo_letter text-center" style="list-style: none;">
                    <li class><strong>Endereço:</strong></li>
                    <br>
                    <li>Rodovia Senador José,<br>1235 - Jardim Costantino,<br>Sorocaba - SP</li>
                    <hr>
                    <li>Ficou com alguma dúvida?</li>
                    <li>+55 (15) 3238-1188</li>
                    <li>contato@mercadoimpresso.com</li>
                </ul>
            </div>
        </div>
        <div class="col-12 bg-black text-center p-1">
            <span class="text-light text-responsive">
                Mercado Impresso © – All rights reserved </span>
        </div>
    </div>

</footer>