ul li {
    width: 5%;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
}

::ng-deep .p-card {
    cursor: pointer;
}

.btn-cart-hover:hover {
    transform: scale(1.5, 1.5);
}