<div class="" style="margin-top: 20vh;">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Bonecos 3D</h1>
                <h2 class="text-secondary text-responsive mb-3">Itens diversos para estilização de interiores</h2>
            </div>
            <div class="col-6 d-flex">
                <div class="d-flex w-100 align-items-center justify-content-end">
                    <i class="pi pi-filter text-secondary text-responsive fw-bold p-3"
                        style="border: 1px solid gray; border-radius: 50%;"></i>
                </div>
            </div>
        </div>

    </div>
    <app-shopping-grid></app-shopping-grid>
</div>