<div class="container" style="margin-top: 20vh;">
    <div class="d-flex align-items-center justify-content-center text-warning">
        <div class="p-2">
            <i class="pi pi-truck p-2 text-responsive"></i><span
                class="text-responsive text-secondary text-center">frete gratis na primeira entrega</span>
        </div>
        <div class="p-2">
            <i class="pi pi-credit-card p-2 text-responsive"></i><span
                class="text-responsive text-secondary text-center"> até 6x no cartão</span>
        </div>
    </div>

</div>

<app-carousel-main></app-carousel-main>

<!--fazer um novo componente para as linhas de baixo-->
<div class="container overflow-hidden">
    <div class="row d-flex align-items-stretch">
        <div class="col-sm-12 col-md-6 col-lg-6 h-100" data-aos="fade-right">
            <div class="d-flex align-items-center justify-content-center rounded shadow-sm p-2 h-50">
                <div class="w-100 h-100">
                    <img src="../../assets/dentes.png" class="object-fit-contain w-100 h-100" alt="">
                </div>
                <div>
                    <h1 class="tittle-responsive">Peças Sob Medida</h1>
                    <button class="btn btn-group btn-outline-secondary text-responsive">Veja mais</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" data-aos="fade-left"><!--nao gostei do jeito que deixei isso aqui-->
            <div class="d-flex align-items-center justify-content-center shadow-sm p-2 h-50 rounded"
                style="background-color: rgb(234, 233, 231);">
                <div class="w-100 h-100">
                    <img src="../../assets/darth.png" class="object-fit-contain w-100 h-100" alt="">
                </div>
                <div>
                    <h1 class="tittle-responsive">Bonecos Colecionáveis</h1>
                    <button class="btn btn-group btn-outline-secondary text-responsive">Veja mais</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-carousel-collection></app-carousel-collection>

<div class="container">
    <app-orcamento-project></app-orcamento-project>
</div>