<div class="" style="margin-top: 20vh;">
    <div class="container">
        <h1>Bonecos 3D</h1>
        <h2 class="text-secondary text-responsive mb-3">Itens diversos para estilização de interiores</h2>
        <div class="d-flex mb-3 align-items-center justify-content-start">
            <i class="pi pi-filter text-secondary text-responsive fw-bold"></i>
            <span class="text-responsive text-secondary fw-bold">Filtrar & Organizar</span>
        </div>
    </div>
    <app-shopping-grid></app-shopping-grid>
</div>