<div class="container-md w-100 overflow-hidden" style="margin-top: 20vh; ">
    <button class="btn btn-close" (click)="closeProject()"></button>
    <h1 class="tittle-responsive text-center">Muito Bem!</h1>
    <h3 class="text-responsive text-center text-secondary">
        Seu projeto foi carregado e agora você pode aplicar
        customizações nele!</h3>
    <div class="row w-100 mt-3" style=" margin-right: 0; margin-left: 0;">
        <div class="col-md-6 col-sm-12d-flex align-items-center justify-content-center" data-aos="fade-rigt">
            <app-stl-viewer></app-stl-viewer>
        </div>
        <div class="col-md-6 col-sm-12" data-aos="fade-left">
            <app-client-custom-forms></app-client-custom-forms>
        </div>

    </div>
</div>

<div class="w-100 mt-4">
    <app-carousel-collection></app-carousel-collection>
</div>