<form #customForm="ngForm" (submit)="onSubmit(customForm)" class="form-group bg-white p-4 rounded overflow-hidden">
    <div class="row mb-2">
        <div class="col-10">
            <div class="p-float-label">
                <input required [(ngModel)]="customizacoes.nome" name="nome" [value]="getFileName()" pInputText id="Project-Name" class="form-control text-center border-0" />
            </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <div class="pi pi-info-circle" ngbTooltip="Nome que sera dado para seu projeto"></div>
        </div>
        <div class="col-12 mb-4 mt-4">
            <div class="row">
                <h2 class="tittle-responsive bg-white p-2 rounded border-0 w-auto col-6"   
                name="price" >{{ customizacoes['preco'] | currency:'BRL':'symbol':'1.2-2'}}</h2>
                <div class="col-6">

                    <i *ngIf="isCalculating"  class="text-primary pi pi-spin pi-spinner"></i>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-group btn-dark w-100 p-2 d-flex align-items-center justify-content-center">Add to
                Shopping Bag
            </button>
        </div>
    </div>

    <div class="row mb-2" >
        <h1 class="tittle-responsive mb-3">Configuração do Modelo</h1>
        <span class="text-start text-secondary">Material: {{selectColor??""}}</span>
        <p-dropdown (onChange)="someChange(customForm)" name="material" [options]="materials" styleClass="input-group" [(ngModel)]="customizacoes.material"
         optionLabel="material" placeholder="Selecione o material..." [required]='true'>
            <ng-template pTemplate="selectedItem">
                <div class="d-flex align-items-center justify-content-center" *ngIf="customizacoes?.material?.nome !== 'default'">
                    <div class="tag-circle" [ngStyle]="{ 'background-color': getColor(customizacoes.material)  }"></div>
                    <div class="p-2">{{ getMaterialNome(customizacoes.material) }}</div>                
                </div>
            </ng-template>
            <ng-template let-material pTemplate="item">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="tag-circle" [ngStyle]="{ 'background-color': material.cor }"></div>
                    <div class="p-2">{{ material.nome }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

    <div class="row mb-2">
        <div class="col-10 mb-4 ">
            <label for="slider"  class="mb-2 text-secondary">Infill - {{customizacoes.preenchimento }}%</label>
            <p-slider (onSlideEnd)="someChange(customForm)" [min]="5" required name="preenchimento" id="preenchimento" [(ngModel)]="customizacoes.preenchimento"></p-slider>
        </div>
        <div class="col-2 mb-4 d-flex align-items-center justify-content-center">
            <div class="pi pi-info-circle" ngbTooltip="preenchimento do modelo">
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-10 mb-4">
            <label for="layer" class="mb-2 text-secondary">Layer({{customizacoes.camada}}mm)</label>
            <p-slider (onSlideEnd)="someChange(customForm)" [max]="5" required [min]="1" name="slider-layer" id="slider" [(ngModel)]="customizacoes.camada"></p-slider>
        </div>
        <div class="col-2 mb-4 d-flex align-items-center justify-content-center">
            <div class="pi pi-info-circle"
                ngbTooltip="tamanho da camada usada para fazer o seu projeto obs: camadas menores tem mais perfeição porem maior custo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-10 mb-4">
            <div class="p-float-label">
                <textarea  [(ngModel)]="customizacoes.notas" name="desc" pInputText id="desc" class="form-control"></textarea>
                <label for="notes">Notes about the project</label>
            </div>
        </div>
        <div class="col-2 mb-4 d-flex align-items-center justify-content-center">
            <div class="pi pi-info-circle" ngbTooltip="gostaria de dar mais detalhes sobre seu projeto"></div>
        </div>
    </div>

</form>