<div data-aos="fade-up">
    <span class="tittle-responsive" style="margin-left: 3%;"><strong>Produtos semelhantes:</strong></span>
    <p-carousel [value]="products" [numVisible]="6" [numScroll]="1" [circular]="true" [showIndicators]="false"
        [responsiveOptions]="carouselOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="p-mb-3 img-background rounded-3">
                        <img src="{{product.image}}" [alt]="product.name" class="object-fit-cover w-100 h-100" />

                    </div>
                    <div>
                        <h4 class="p-mb-1">{{product.name}}</h4>
                        <ul class="d-flex list-inline gap-1">
                            <li *ngFor="let mat of enable_material"
                                [ngStyle]="mat.color ? {'background-color': mat.color} : {}"></li>
                        </ul>
                        <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>