<h1 class="text-white">Project Custons</h1>
<div class="form-group bg-white p-4 rounded">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="p-float-label">
                <input [value]="file_name ?? ''" pInputText id="Project-Name" class="form-control" />
                <label for="Project-Name">Project Name</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4" style="display: flex; flex-direction: column; align-items: start;">
            <div *ngFor="let color of colors" class="field-checkbox">
                <input [name]="color.color" id="{{color.color}}" type="radio" value="{{color.color}}">
                <label class="color-label" for="{{color.color}}" [style.background-color]="color.color"></label>
            </div> 
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="p-float-label">
                <input pInputText id="material" class="form-control" />
                <label for="material">Material</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4 ">
                <label for="slider" class="mb-2">Infill - {{!sliderValue ? 0 : sliderValue }}%</label>
                <p-slider name="slider" id="slider" [(ngModel)]="sliderValue"></p-slider>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="p-float-label">
                <input pInputText id="layer" class="form-control" />
                <label for="layer">Layer(mm)</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="p-float-label">
                <input pInputText id="notes" class="form-control" />
                <label for="notes">Notes about the project</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div style="display: flex; align-items: center; justify-content: center;">
                <p-button  icon="pi pi-check-circle" [rounded]="true" [text]="true" severity="success" label="Calculate" iconPos="right" class="rounded"></p-button>
            </div>
        </div>
    </div>
</div>
