<h1 class="text-white">Project Custons</h1>
<div class="form-group bg-white p-4 h-100 w-100 rounded">
    <div class="p-float-label mb-4">
        <input pInputText id="Project-Name" class="form-control" />
        <label for="Project-Name">Project Name</label>
    </div>
    <div class="p-float-label mb-4">
        <input pInputText id="color" class="form-control" />
        <label for="color">Color</label>
    </div>

    <div class="p-float-label mb-4">
        <input pInputText id="material" class="form-control" />
        <label for="material">Material</label>
    </div>

    <div class="p-float-label mb-4">
        <input pInputText id="infill" class="form-control" />
        <label for="infill">Infill</label>
    </div>

    <div class="p-float-label mb-4">
        <input pInputText id="layer" class="form-control" />
        <label for="layer">Layer(mm)</label>
    </div>

    <div class="p-float-label mb-4">
        <input pInputText id="notes" class="form-control" />
        <label for="notes">Notes about the project</label>
    </div>


    <div style="display: flex; width: 100%; height: auto; align-items: center; justify-content: center;">
        <p-button icon="pi pi-check-circle" [rounded]="true" [text]="true" severity="success"></p-button>
    </div>
    <h1>Current Value</h1>
    <h2>R$ 70,90</h2>
</div>